<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Estilos importados-->
    <link rel="stylesheet" href="style/bootsrtap.css">
    <link rel="stylesheet" href="js/JQueryUI/jquery-ui.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/player.css">
    <link rel="stylesheet" href="style/playlist.css">
    <!--Esto sirve para poner el icono-->
    <link rel="shortcut icon" type="image/x-icon" href="shared/img/icon2.ico">

    <!--Scripts importados-->
    <script src="js/jquery.js"></script>
    <script src="js/JQueryUI/jquery-ui.js"></script>
    <script src="js/masonry.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/EndpointRequest.js"></script>
    <script src="js/MusicPlayer.data.js"></script>
    <script src="js/player.js"></script>

    <title>Tinerfy</title>
</head>

<body>
    <div id="app" class="h-100 w-100">
        <section id="load-background" v-show="BackgroundControl.visible">
            <article class="loader">
                <div class="d-flex h-100 justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </article>
        </section>

        <header class="fixed-top bottom-white-border">

            <nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
                <a href="#" class="navbar-brand" v-on:click="Home.visible = true;">
                    <img src="shared/img/icono2.png" width="30rem" alt="">
                    Tinerfy
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Tinerfy <span class="sr-only">(current)</span></a>
                    </li>
                    -->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>

        <main class="container-fluid">
            <div class="row h-100">
                <section id="userMusic">
                    <div class="accordion" id="accordionExample">
                        <div class="card no-border bg-transparent">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn color-green" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="material-icons">queue_music </i> My Songs
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body float-left color-white bg-light-gray">
                                    <template v-if="!userData.myUploads.fetchingFromServer">
                                        <ul class="musicList">
                                            <li v-for="song in userData.myUploads.data.data.data"
                                                class="media_hyperlink" v-on:click="OpenMedia(song,'A')">
                                                <i class="material-icons">music_note</i>
                                                {{song.title}} - {{song.author}}
                                            </li>
                                        </ul>
                                    </template>
                                    <template v-else>
                                        <h3 class="white-color">Loading data...</h3>
                                    </template>

                                </div>
                            </div>
                        </div>
                        <div class="card no-border bg-transparent">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn color-green collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="material-icons">playlist_play </i> My Playlist
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body color-white bg-light-gray">
                                    <template v-if="!userData.myPlaylists.fetchingFromServer">
                                        <ul class="musicList">
                                            <li v-for="playlist in userData.myPlaylists.data.data.data"
                                                class="media_hyperlink"
                                                v-on:click="OpenMedia({ids:playlist.songs, name: playlist.name, description: playlist.description, thumbnail: playlist.thumbnail, owner: playlist.creator}, 'P')">
                                                <i class="material-icons">playlist_play</i>
                                                {{playlist.name}}
                                            </li>
                                        </ul>
                                    </template>
                                    <template v-else>
                                        <h3 class="white-color">Loading data...</h3>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="card no-border bg-transparent">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn color-green collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="material-icons">favorite </i> Favorite Tracks
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body color-white bg-light-gray overflow-hidden">
                                    <template v-if="!userData.myFavorites.fetchingFromServer">
                                        <ul class="musicList">
                                            <li v-for="song in userData.myFavorites.data.data.data"
                                                class="media_hyperlink" v-on:click="OpenMedia(song, 'A')">
                                                <i class="material-icons">music_note</i>
                                                {{song.title}} - {{song.author}}
                                            </li>
                                        </ul>
                                    </template>
                                    <template v-else>
                                        <h3 class="white-color">Loading data...</h3>
                                    </template>
                                    <div class="float-right">
                                        <button type="button"
                                            v-on:click="userData.myFavorites.list.songs=[]; FindListFor(userData.myFavorites, 0);"
                                            class="btn btn-outline-success">Open Playlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="main" class="overflow-auto h-100">
                        <div id="banner">
                                <div class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="shared/img/banner1.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="shared/img/banner2.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="shared/img/banner3.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="shared/img/banner5.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="shared/img/banner4.gif" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="container px-0">
                    <article class="home-component  h-100" v-show="Home.visible">
                            <div class="h-100 overflow-auto px-4">
                                
                                <article class="py-4">
                                    <h1 v-for="genre in Genres.types" class="d-inline-block mr-2">
                                        <span class="badge badge-secondary" v-bind:style="{background:genre.color + ''}">
                                            {{genre.name}}
                                        </span>
                                    </h1>
                                </article>
                                
            <div class="FXmasonry">
                <div class="FXmasonryItem">
                        <div class="card">
                                <img src="shared/img/slash.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Slash</h5>
                                    <p class="card-text">
Saul Hudson más conocido por su nombre artístico Slash, es un músico y compositor británico-estadounidense.​ Es el guitarrista principal del grupo de rock estadounidense Guns N' Roses                                    </p>
                                    <a href="#" class="btn btn-success float-right">View more</a>
                                </div>
                                </div>
                </div>
                
                <div class="FXmasonryItem">
                        <div class="card">
                                <img src="shared/img/coldplay.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Coldplay</h5>
                                    <p class="card-text">
                                            Coldplay es una banda británica de pop rock y rock alternativo formada en Londres en 1996. El grupo está integrado por Chris Martin, Jon Buckland, Guy Berryman y Will Champion.
                                    </p>
                                    <a href="#" class="btn btn-success float-right">View more</a>
                                </div>
                                </div>
                </div>
                <div class="FXmasonryItem">
                        <div class="card">
                                <img src="shared/img/intocable.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Intocable</h5>
                                    <p class="card-text">Intocable es un grupo estadounidense de música tejana/norteña de Zapata, Texas, fundado a principios de la década de los 90 por Ricky Muñoz y René Martínez.​</p>
                                    <a href="#" class="btn btn-success float-right">View more</a>
                                </div>
                                </div>
                </div>
                <div class="FXmasonryItem">
                        <div class="card">
                                <img src="shared/img/duelo.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Duelo</h5>
                                    <p class="card-text">Duelo es una banda norteña de Roma, Texas. La banda también es conocida como Grupo Duelo y Duelo Norteño. El grupo se destacó a fines de la década de 1990 y continúa grabando a partir de 2009, cuando su álbum Necesito Más de Ti debutó en el primer puesto de la lista de álbumes de Billboard Top Latin Albums.</p>
                                    <a href="#" class="btn btn-success float-right">View more</a>
                                </div>
                                </div>
                </div>
        
                                    
                                </div>
                               
                            </div>
                        </article>
    
                        <article class="playlist-component" v-show="!Playlist.isLoading && !Home.visible">
                            <div class="text-white text-truncate relative h-100">
                                <img class="playlist-thumbnail float-left" width="100%" height="100%"
                                    v-bind:src="Playlist.thumbnail" />
                                <div class=" text-truncate playlist-name tamaño">
                                    {{Playlist.name}}
                                    <span class="badge badge-primary badge-dark tamaño2">
                                        P L A Y L I S T
                                    </span></div>
                                <div class="song-album tamaño-desc playlist-description break-word">{{Playlist.description}}
                                </div>
                                <div class="song-author tamaño-desc break-word playlist-owner">Creator: {{Playlist.owner}}
                                    | <span class="badge badge-secondary badge-dark">
                                        Number of songs: {{Playlist.songs.length}}
                                    </span>
                                </div>
    
                            </div>
                            <div class="list-group my-4 mx-4" role="tablist">
                                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action pointer list-song"
                                    v-for="song in Playlist.songs" data-toggle="list" href="#list-home" role="tab"
                                    aria-controls="home" v-if="song.title" v-on:click="OpenMedia(song,'A');">
                                    {{song.title}} - {{song.author}}
                                    <span class="badge badge-success badge-pill">
                                        {{Math.floor(song.duration/60)}}
                                        :
                                        {{song.duration % 60 < 10 ? '0' + (song.duration % 60) : song.duration % 60}}
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    
                </section>

                <section id="related" class="auto-scroll">
                    <h4 class="text-center py-1 color-green">Recomendations</h4>
                    <hr>

                    <div class="row relatedItem overflow-hidden bg-transparent">
                        <div class="col-4 no-padding h-100 w-100">
                            <img src="shared/img/icono2.png" class="w-100 h-100" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <h5 class="text-nowrap color-green px-2 overflow-hidden">
                                Titulo de la cancion
                            </h5>
                            <h6 class="text-nowrap color-green px-2 overflow-hidden">
                                Album
                            </h6>
                        </div>
                    </div>
                    <hr>

                    <div class="row relatedItem overflow-hidden bg-transparent">
                        <div class="col-4 no-padding h-100 w-100">
                            <img src="shared/img/icono2.png" class="w-100 h-100" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <h5 class="text-nowrap color-green px-2 overflow-hidden text-truncate">
                                Titulo de la cancion
                            </h5>
                            <h6 class="text-nowrap color-green px-2 overflow-hidden">
                                Album
                            </h6>
                        </div>
                    </div>
                    <hr>

                    <div class="row relatedItem overflow-hidden bg-transparent">
                        <div class="col-4 no-padding h-100 w-100">
                            <img src="shared/img/icono2.png" class="w-100 h-100" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <h5 class="text-nowrap color-green px-2 overflow-hidden">
                                Titulo de la cancion
                            </h5>
                            <h6 class="text-nowrap color-green px-2 overflow-hidden">
                                Album
                            </h6>
                        </div>
                    </div>
                    <hr>

                    <div class="row relatedItem overflow-hidden bg-transparent">
                        <div class="col-4 no-padding h-100 w-100">
                            <img src="shared/img/icono2.png" class="w-100 h-100" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <h5 class="text-nowrap color-green px-2 overflow-hidden">
                                Titulo de la cancion
                            </h5>
                            <h6 class="text-nowrap color-green px-2 overflow-hidden">
                                Album
                            </h6>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        
        <footer>
            <div class="progressBar">
                <div id="music_time"></div>
            </div>
            <div class="d-flex w-100 h-100">
                <div
                    class="w-100 h-100 overflow-hidden text-center align-middle align-self-center row overflow-hidden ">
                    <div class="col-player h-100 col text-left float-left">
                        <div class="text-white text-truncate h-100" v-show="CurrentSong.enabled">
                            <img class="thumbnail float-left" v-bind:src="CurrentSong.thumbnail" />
                            <div class=" text-truncate song-title ">{{CurrentSong.title}} </div>
                            <div class="text-truncate song-author">{{CurrentSong.author}} </div>
                            <div class="text-truncate song-album">{{CurrentSong.album}} </div>
                        </div>
                    </div>

                    <div class="col-controls h-100 float-left">
                        <div class="d-flex w-100 h-100">
                            <div class="w-100 text-center align-self-center overflow-hidden">
                                <!--Barra de volumen y controles de mas y menos-->
                                <section class="d-inline-block">
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons">volume_down</i>
                                    </span>
                                    <div id="volume"></div>
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons">volume_up</i>
                                    </span>
                                </section>
                                <!--Control de play/pause-->
                                <section class="d-inline-block">
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons">shuffle</i>
                                    </span>
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons">skip_previous</i>
                                    </span>
                                </section>
                                <!--Control de next y replay-->
                                <section class="d-inline-block">
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons playButton"
                                            onclick="AudioPlayer.play(this);">play_arrow</i>
                                    </span>
                                </section>
                                <!--Controles de next y replay-->
                                <section class="d-inline-block">
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons">skip_next</i>
                                    </span>
                                    <span class="d-inline-block volume-control">
                                        <i class="material-icons">replay</i>
                                    </span>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-player h-100 float-left"></div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>