<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reproductor</title>
    <link rel="stylesheet" href="CSS/bootstrap.css">
    <link rel="stylesheet" href="js/jQueryUI/jquery-ui.css">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/player.css">
    <link rel="stylesheet" href="CSS/playlist.css">
    
    <script src="js/jquery3.3.1.js"></script>
    <script src="js/jQueryUI/jquery-ui.js"></script>
    <script src="js/Masonry.js"></script>
    <script src= "js/main.js"></script>
    <script src="../VueJS/VueJs.js"></script>
    <script src="js/Bootstrap.js"></script>
    <script src= "js/EndpointRequest.js"></script>
    <script src= "js/MusicPlayer.data.js"></script>
    <script src= "js/player.js"></script>
</head>
<body>
  <div id="app" class="h-100 w-100">
      <section id="load-background" v-show="BackGroundControl.visible">
          <article class="loader">
              <div class="text-center d-flex h-100 justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
              </div>
          </article>
        </section>
      
          <header class="fixed-top bottom-white-border">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand" href="#" v-on:click="Home.visible = true;">LOGO</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link">Reproductor.Titulo <span class="sr-only">(current)</span></a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                </nav>
          </header>
          <main class="container-fluid">
              <div class="row h-100">
                  <section id="userMusic">
                          <div class="accordion" id="accordionExample">
                                  <div class="card no-border bg-transparent">
                                    <div class="card-header" id="headingOne">
                                      <h2 class="mb-0">
                                        <button class="btn color-green collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              <i class="material-icons">queue_music</i>My Songs
                                        </button>
                                      </h2>
                                    </div>
                                
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                      <div class="card-body bg-light-gray">
                                        <template v-if="!userData.myUploads.fetchingFromServer">
                                          <ul class="musicList">
                                              <li v-for="song in userData.myUploads.data.data.data"
                                                class="media_hyperlink" v-on:click="OpenMedia(song, 'A')">
                                                <i class="material-icons"> music_note </i>
                                                {{ song.title }} - {{song.author}}
                                              </li>
                                            </ul>
                                        </template>
                                        <template v-else>
                                            <h3 class="color-white">Loading data...</h3>
                                        </template>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card no-border bg-transparent">
                                    <div class="card-header" id="headingTwo">
                                      <h2 class="mb-0">
                                        <button class="btn color-green" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              <i class="material-icons"> playlist_play</i>My Playlist
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                      <div class="card-body bg-light-gray">
                                          <template v-if="!userData.myPlaylists.fetchingFromServer">
                                              <ul class="musicList">
                                                  <li v-for="playlist in userData.myPlaylists.data.data.data"
                                                    class="media_hyperlink" v-on:click="OpenMedia( {ids: playlist.songs, name: playlist.name, description: playlist.description, thumbnail: playlist.thumbnail, owner: playlist.creator }, 'P')">
                                                    <i class="material-icons"> music_note</i>
                                                    {{ playlist.name }}
                                                  </li>
                                                </ul>
                                            </template>
                                            <template v-else>
                                                <h3 class="color-white">No playlists for user</h3>
                                            </template>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card no-border bg-transparent">
                                    <div class="card-header" id="headingThree">
                                      <h2 class="mb-0">
                                        <button class="btn color-green collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              <i class="material-icons"> favorite</i>Favorites
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                      <div class="card-body bg-light-gray overflow-hidden">
                                          <template v-if="!userData.myFavorites.fetchingFromServer">
                                              <ul class="musicList">
                                                  <li v-for="song in userData.myFavorites.data.data.data"
                                                    class="media_hyperlink" v-on:click="OpenMedia(song, 'A')">
                                                    <i class="material-icons"> favorite_border </i>
                                                    {{ song.title }} - {{song.author}}
                                                  </li>
                                                </ul>
                                            </template>
                                            <template v-else>
                                                <h3 class="color-white">No favorites for user</h3>
                                            </template>
                                            <div class="float-right">
                                                <button v-on:click= "userData.myFavorites.list.songs = []; FindListFor( userData.myFavorites, 0 );" type="button" class="btn btn-success btn-sm">See more</button>  
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                  </section>
                  <section id="main" class="overflow-auto h-100">
                    <div id="banner" v-show="Home.visible">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <img src="img/banner1.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="img/banner2.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="img/banner3.jpg" class="d-block w-100" alt="...">
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="container px-0">
                      <article class="home-component h-100" v-show="Home.visible">
                        <div class="h-100 overflow-auto px-4">
                          <div class="py-4">
                            <h1 v-for="genre in Genres.types" class="d-inline-block mr-2">
                            <span class="badge badge-secondary" v-bind:style="{background: genre.color + ''}">
                              {{genre.name}}
                            </span>
                            </h1>
                          </div>
                            <div class="FXmasonry">
                              <div class="FXmasonryItem">
                                  <div class="card">
                                      <img src="img/MichaelJackson.jpg" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Miranda Cosgrove</h5>
                                        <p class="card-text">Miranda Taylor Cosgrove (Los Ángeles, California, 14 de mayo de 1993)
                                           es una actriz y cantante estadounidense. Después de aparecer en varias películas y series 
                                           en su infancia, Cosgrove saltó a la fama por su papel como Megan Parker en Drake & Josh, 
                                          y por ser protagonista en la serie nominada al Emmy, iCarly como Carly Shay, ambas producidas 
                                          por el canal de televisión infantil Nickelodeon. </p>
                                        <a href="#" class="btn btn-primary">Hee Hee!</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="FXmasonryItem">
                                  <div class="card">
                                      <img src="img/MichaelJacksonReal.jpg" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Michael Jackson</h5>
                                        <p class="card-text">
                                          Michael Joseph Jackson​ fue un cantante, compositor, productor discográfico,
                                           bailarín, actor y filántropo estadounidense.
                                          ​​​</p>
                                        <a href="#" class="btn btn-primary">Beat it!</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="FXmasonryItem">
                                  <div class="card">
                                      <img src="img/Kiss.jpg" class="card-img-top" alt="...">
                                      <div class="card-body">
                                        <h5 class="card-title">Kiss</h5>
                                        <p class="card-text">
                                          Kiss es una banda estadounidense de rock formada en Nueva York en enero de 1973
                                           por el bajista Gene Simmons y el guitarrista Paul Stanley,
                                            a los que más tarde se unirían el batería Peter Criss y el guitarrista Ace Frehley.​
                                        </p>
                                        <a href="#" class="btn btn-primary">Click me uwu</a>
                                      </div>
                                    </div>
                              </div>
                              <div class="FXmasonryItem">
                                <div class="card">
                                    <img src="img/snoopdog.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Snoop Dog</h5>
                                      <p class="card-text">
                                          Calvin Cordozar Broadus Jr. (Long Beach, 20 de octubre de 1971),
                                          más conocido como Snoop Dogg o Snoop Lion,2​ es un rapero, cantante,
                                          productor y actor estadounidense.
                                      </p>
                                      <a href="#" class="btn btn-primary">Na na na na na</a>
                                    </div>
                                  </div>
                              </div>
                              <div class="FXmasonryItem">
                                <div class="card">
                                    <img src="img/Pesado.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Grupo Pesado</h5>
                                      <p class="card-text">
                                          El Grupo Pesado es una agrupación de música regional mexicana,
                                            denominada también música norteña. 
                                      </p>
                                      <a href="#" class="btn btn-primary">Cielo azul, cielo nublado</a>
                                    </div>
                                  </div>
                              </div>
                              <div class="FXmasonryItem">
                                <div class="card">
                                    <img src="img/JoanS.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Joan Sebastian</h5>
                                      <p class="card-text">
                                          José Manuel Figueroa, conocido artísticamente como Joan Sebastian (Juliantla, 8 de abril de 1951 – ibíd., 13 de julio de 2015),
                                          ​ fue un cantante, compositor y actor mexicano, que fue conocido por el público bajo los sobrenombres de «El Rey del Jaripeo»,
                                          ​«El Poeta del Pueblo», «El Poeta de Juliantla»​ y «El Huracán del Sur».A lo largo de su carrera musical fue acreedor 
                                          de cinco premios Grammy y siete premios Grammy Latinos convirtiéndolo, hasta el año 2015, en el mexicano con más Grammys estadounidenses.
                                      </p>
                                      <a href="#" class="btn btn-primary">Na na na na na</a>
                                    </div>
                                  </div>
                              </div>
                            </div>
                      </article>
                      <article class="playlist-component" v-show="!PlayList.isLoading && !Home.visible">
                          <div class="text-white text-truncate relative h-100">
                              <img class="playlist-thumbnail float-left" width="100%" height="100%" v-bind:src="PlayList.thumbnail"/>
                              <div class="playlist-name break-word">
                                {{PlayList.name}}
                                <span class="badge badge-primary badge-dark">PLAYLIST</span>
                              </div>
                              <div class="playlist-description break-word">{{PlayList.description}}</div>
                              <div class="playlist-owner break-word">Creator: {{PlayList.owner}} |
                                  <span class="badge badge-primary badge-dark">
                                    Number of songs: {{PlayList.songs.length}}
                                  </span>
                              </div>
                          </div>
                        <div class="list-group mx-4" role="tablist">
                            <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-song" 
                              v-for="song in PlayList.songs" 
                              v-on:click="OpenMedia(song, 'A');"
                              data-toggle="list" role="tab" v-if="song.title">
                              {{song.title}} - {{song.author}}
                              <span class="badge badge-primary badge-success">
                                {{Math.floor(song.duration / 60) }}
                                :
                                {{song.duration % 60 < 10 ? '0' + ( song.duration % 60 ) : song.duration % 60}}
                              </span>
                            </a>
                        </div>
                      </article>
                    </div>
                  </section>
                  <section id="related" class="auto-scroll">
                      <h4 class="color-white mb-3 text-center">Related:</h4>
                      <div class="row relatedItem ">
                          <div class="col-4 px-0 h-100">
                              <img src="img/shiba.png">
                          </div>
                          <div class="col-8 px-0 h-100 auto-scroll">
                              <h5 class="color-white px-2 ">Despasito 2 Confirmed</h5>
                              <h6 class="color-white px-2 ">UwUoUOwO</h6>
                          </div>
                      </div>
                      <div class="px-3"><hr class="border-color-white"></div>  
                      <div class="row relatedItem ">
                          <div class="col-4 px-0 h-100">
                              <img src="img/shiba.png">
                          </div>
                          <div class="col-8 px-0 h-100 auto-scroll">
                              <h5 class="color-white px-2 ">Despasito 2 Confirmed</h5>
                              <h6 class="color-white px-2 ">UwUoUOwO</h6>
                          </div>
                      </div>
                      <div class="px-3"><hr class="border-color-white"></div>  
                      <div class="row relatedItem ">
                          <div class="col-4 px-0 h-100">
                              <img src="img/shiba.png">
                          </div>
                          <div class="col-8 px-0 h-100 auto-scroll">
                              <h5 class="color-white px-2 ">Despasito 2 Confirmed</h5>
                              <h6 class="color-white px-2 ">UwUoUOwO</h6>
                          </div>
                      </div>
                      <div class="px-3"><hr class="border-color-white"></div>  
                      <div class="row relatedItem ">
                          <div class="col-4 px-0 h-100">
                              <img src="img/shiba.png">
                          </div>
                          <div class="col-8 px-0 h-100 auto-scroll">
                              <h5 class="color-white px-2 ">Despasito 2 Confirmed</h5>
                              <h6 class="color-white px-2 ">UwUoUOwO</h6>
                          </div>
                      </div>
                      <div class="px-3"><hr class="border-color-white"></div>  
                      <div class="row relatedItem ">
                          <div class="col-4 px-0 h-100">
                              <img src="img/shiba.png">
                          </div>
                          <div class="col-8 px-0 h-100 auto-scroll">
                              <h5 class="color-white px-2 ">Despasito 2 Confirmed</h5>
                              <h6 class="color-white px-2 ">UwUoUOwO</h6>
                          </div>
                      </div>
                  </section>   
              </div>
          </main>
          <footer>
            <div class="progressBar">
              <div id="music_time">
                
              </div>
            </div>
            <div class="d-flex w-100 h-100">
              <div class="w-100 h-100 text-center align-self-center overflow-hidden">
                <div class="col-player h-100 float-left">
                    <div class="text-white text-truncate h-100" v-show="CurrentSong.enabled">
                        <img class="pp float-left" v-bind:src="CurrentSong.thumbnail"/>
                        <div class="text-truncate song-title">{{CurrentSong.title}}</div>
                        <div class="text-truncate song-author">{{CurrentSong.author}}</div>
                        <div class="text-truncate song-album">{{CurrentSong.album}}</div>
                    </div>
                </div>
                  <div class="col-controls h-100 float-left">
                    <div class="d-flex w-100 h-100">
                      <div class="w-100 text-center align-self-center overflow-hidden">
                        <!--Controles de volumen-->
                        <section class="d-inline-block">
                          <span class="d-inline-block volume-control">
                            <i class="material-icons"> volume_down </i>
                          </span> 
                          <div id="volume"></div> 
                          <span class="d-inline-block volume-control">
                            <i class="material-icons"> volume_up </i>
                          </span>
                        </section>
                        <!--Controles shuffle y previuos-->
                        <section class="d-inline-block">
      
                          <span class="d-inline-block volume-control">
                            <i class="material-icons"> shuffle </i>
                          </span> 
      
                          <span class="d-inline-block volume-control">
                            <i class="material-icons"> skip_previous </i>
                          </span>
      
                        </section>
                        <!--Controles play-->
                        <section class="d-inline-block">
                            <span class="d-inline-block volume-control">
                                <i class="material-icons playButton" onclick="AudioPlayer.play( this );"> play_arrow </i>
                              </span> 
                        </section>
                        <!--Controles next y repeat-->
                        <section class="d-inline-block">
      
                            <span class="d-inline-block volume-control">
                              <i class="material-icons"> skip_next </i>
                            </span> 
              
                            <span class="d-inline-block volume-control">
                              <i class="material-icons"> repeat </i>
                            </span>
              
                        </section>
                      </div>
                    </div>
                  </div>
                <div class="col-player h-100 float-left">
      
                </div>
              </div>
            </div>
          </footer>
  </div>
  
</body>
</html>